@mixin flex {
  display: flex;
}

@mixin overflow-auto {
  overflow-y: auto;
}

@mixin h-100 {
  height: 100%;
}

.row {
  @include flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  @include flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.line-height-small {
  line-height: 0.1;
}

.flex-page-container {
  display: flex;
  height: 100%;
}

.flex-1-1-auto {
  flex: 1 1 auto;
}

.page-container {
  flex: 1 1 auto;
  @include overflow-auto;
}

.container-grid-card {
  padding: 10px 0px 10px 10px;
  @include h-100;
}

.overflow-auto {
  @include overflow-auto;
}
